.mainDiv {
  width: 720px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  // padding: `0 1.0875rem 1.45rem`,

  main {
    width: 100%;
  }

  .footer {
    margin: 20px 0;
    font-size: 12px;

    a {
      text-decoration: none;
    }
  }
}
