@import '../../styles/variable.module';

$yellow: #ffffe0;
$green: #d6ead6;

@mixin box-maxin($color) {
  border: 10px solid $color;
  border-radius: 30px;
  font-weight: bold;
  width: 300px;
  height: 300px;
  color: black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;

  .card {
    width: 30%;
    height: 260px;
    border-radius: 40px;
    background: $background-color;
    box-shadow: 6px 6px 12px #ddd, -6px -6px 12px #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      text-align: center;
    }

    .number {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .price {
        padding: 10px 20px;
        margin: 6px 0 2px;
        border-radius: 12px;
        box-shadow: inset 6px 6px 8px #cbced1, inset -6px -6px 8px #ffffff;
        color: #555;
      }

      .diff {
        font-size: 0.7rem;

        &[data-positive='true'] {
          color: red;
        }
        &[data-negative='true'] {
          color: green;
        }
      }
    }

    &:nth-child(1) {
      background: rgba($yellow, 0.4);

      .price {
        background: rgba($yellow, 0.1);
        box-shadow: inset 3px 3px 4px #dfdfdf,
          inset -3px -3px 4px rgba($yellow, 0.9);
      }
    }

    &:nth-child(2) {
      background: rgba($green, 0.4);

      .price {
        background: rgba($green, 0.1);
        box-shadow: inset 3px 3px 4px #dfdfdf,
          inset -3px -3px 4px rgba($green, 0.9);
      }
    }

    @include sm {
      height: 170px;
      border-radius: 18px;
    }
  }
}
